@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

::-webkit-scrollbar {
  width: 6px;
  background-color: #ccc;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #2B4865;
  border-radius: 20px;
}

::-webkit-scrollbar-button {
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 20px;
}

body {
  padding: 1rem 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #242B2E;
  color: #fff;
  transition: 0.5s all ease-in-out;
}

.mainArea {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 0 2rem;
}

.colorPallet {
  width: 100%;
  margin: 0 auto;
}

h1 {
  padding: 0 10px;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 50px;
}

h2 {
  transition: 0.5s all ease-in-out;
  text-align: center;
}

.colorBar {
  height: 80px;
  cursor: pointer;
}

@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes remove-animate {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0);
    opacity: 0;
  }
}

.clipbordConfirm {
  animation: append-animate .3s linear;
}

.clipbordConfirmRemove {
  animation: remove-animate .3s linear;
}


@media screen and (max-width: 900px) {
  .mainArea {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1rem;
  }

  .mainArea {
    grid-template-columns: 1fr;
  }
}