@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: #495C83;
  color: #fff;
}

.mainArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 5px;
}

.colorPallet {
  width: 60%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

.colorBar {
  height: 80px;
  cursor: pointer;
}