@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  padding: 0 25%;
  font-family: 'Inter', sans-serif;
}

h2 {
  text-align: justify;
}

button {
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 50px;
  background-color: #1f1f1f;
  color: #fff;
  cursor: pointer;
}